@page "/subjects"
@attribute [Authorize]



<div class=" row mb-3 ml-1 mt-3">
    <div class="col col-5">
        <button @onclick="AddSubject" class="btn btn-primary align-self-end">add Subject</button>
    </div>
</div>
        @if (subjects == null)
        {
            <p>loading</p>
        }
        else
        {
<table class="table table-borderless table-responsive-xl table-striped">
    <thead>
        <tr>
            <th>Name</th>
                <th>
                    <div class="col col-8">
                        <input type="text" class="form-control ml-6" placeholder="search..." @bind-value="searchText" @oninput="Search" />
                    </div>
                </th>
        </tr>
    </thead>
    <tbody>
            @foreach (Subject subject in subjects)
            {
                <tr>
                    <td> @subject.Name </td>
                    <td>
                        <button class="btn btn-danger" @onclick="()=>Delete(subject.Id)">Delete</button>
                        <button class="btn btn-secondary" @onclick="()=>Update(subject.Id)">Update</button>
                    </td>
                </tr>
            }
    </tbody>
</table>
        }

