<div class="@NavMenuCssClass overflow-hidden" @onclick="ToggleNavMenu">
    <nav class="flex-column overflow-hidden">
        @*        <div class="bg-secondary px-3">
        <button title="Navigation menu" class="navbar-toggler btn btn-secondary" @onclick="ToggleNavMenu">
        <span class="fa-solid fa-list-alt"></span>
        </button>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">
                    <iconify-icon icon="ic:baseline-home" style="color: #a1a1a1;" width="25" height="25"></iconify-icon>
                </span> 
                <span>
                    Home
                </span>
            </NavLink>
        </div>
        @*        <div class="nav-item px-3">
        <NavLink class="nav-link" href="swagger">
        <span class="oi oi-clipboard" aria-hidden="true"></span> Swagger Api
        </NavLink>
        </div>*@
        <AuthorizeView Roles="@nameof(SecurityRole.Admin)">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Users">
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        @*        <div class="nav-item px-3">
        <NavLink class="nav-link" href="broadcastchat">
        <span class="oi oi-people" aria-hidden="true"></span> Broad Cast
        </NavLink>
        </div>*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teachers">
                <span class="nav-icon">
                    <iconify-icon icon="fluent-emoji-high-contrast:teacher" width="25" height="25"></iconify-icon>
                </span>
                <span>
                Teachers
                </span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="nav-icon">
                    <iconify-icon icon="ph:student-fill" width="25" height="25"></iconify-icon>
                </span>
                <span>
                    Students
                </span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClassRooms">
                <span class="nav-icon">
                <iconify-icon icon="mdi:google-classroom" width="25" height="25"></iconify-icon>
                </span>
                <span>
                    ClassRooms
                </span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Subjects">
                <span class="nav-icon">

                <iconify-icon icon="arcticons:kanji-study" width="25" height="25"></iconify-icon>
                </span>
                <span >
                    Subjects
                </span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
