@page "/"
@using ApexCharts

<div class="dashboard">
    <div class="box box1">
        <iconify-icon icon="ph:student-fill" style="color: #a1a1a1;" width="100" height="100"></iconify-icon>
        <h5 class="card-title">50 Students</h5>
    </div>
    <div class="box box1">
        <iconify-icon icon="fluent-emoji-high-contrast:teacher" style="color: #a1a1a1;" width="100" height="100"></iconify-icon>

        <div>
            <h5 class="card-title">10 Teachers</h5>
        </div>
    </div>
    <div class="box box1">
        <iconify-icon icon="mdi:google-classroom" style="color: #a1a1a1;" width="100" height="100"></iconify-icon>
        <div>
            <h5 class="card-title">20 Class rooms</h5>
        </div>
    </div>
    <div class="box box1">
        <iconify-icon icon="arcticons:kanji-study" style="color: #a1a1a1;" width="100" height="100"></iconify-icon>
        <div>
            <h5 class="card-title">6 Courses</h5>
        </div>
    </div>
    <div class="box box2">
        <ApexChart TItem="ClassRoom"
                   Title="Class Room Students Rate" Height="300" Width="300">

            <ApexPointSeries TItem="ClassRoom"
                             Items="classRooms"
                             SeriesType="SeriesType.Bar"
                             Name="students number"
                             XValue="@(e => e.Name)"
                             YAggregate="@(e => e.Sum(e => e.Name.Length))"
                             OrderByDescending="e=>e.Y" />
        </ApexChart>
    </div>
    <div class="box box3">
        <ApexChart TItem="Subject"
                   Title="Courses Rate" Height="500" Width="500">

            <ApexPointSeries TItem="Subject"
                             Items="sujects"
                             SeriesType="SeriesType.Donut"
                             Name="students number"
                             XValue="@(e => e.Name)"
                             YAggregate="@(e => 20)"
                             OrderByDescending="e=>e.Y" />
        </ApexChart>
    </div>
</div>

@code {
    Random rand = new Random();
    List<Subject> sujects = new()
    {
        new Subject{Name="Bio"},
        new Subject{Name="Math"},
        new Subject{Name="English"},
        new Subject{Name="CS"},
        new Subject{Name="Art"},
    };

    List<ClassRoom> classRooms = new()
    {
        new ClassRoom{Name="Class 1"},
        new ClassRoom{Name="Class 2"},
        new ClassRoom{Name="Class 3"},
        new ClassRoom{Name="Class 4"},
        new ClassRoom{Name="Class 5"},
    };
}